.git
.gitignore
__pycache__
**/__pycache__
*.pyc
.venv
.venv-backend
data
.backups
*.backup
**/tests
.pytest_cache
.ruff_cache
docs
predict.py
predict.ipynb
legacy
frontend/wrapper.py
frontend/pyinst_command.txt
